<h2>Todoリスト</h2>
<a routerLink="/todo/add">
  新規作成
</a>
<ul class="todo-list">
  <li *ngFor="let todo of todoList">
    <a routerLink="/todo/update/{{todo.id}}">
      <span class="badge">{{todo.stateName}}</span>
      <strong>{{todo.title}}</strong>
      <font *ngIf="todo.category" color="{{todo.category.colorName}}">&nbsp;#{{todo.category.name}}</font>
      <p>{{todo.body}}</p>
    </a>
    <button class="delete" title="delete todo"
            (click)="delete(todo)">x
    </button>
  </li>
</ul>
