<section class="title-group">
  <h1>Todo新規作成</h1>
  <mat-divider></mat-divider>
</section>

<form [formGroup]="todoForm" (ngSubmit)="save()" class="add-form">

  <p>
    <mat-form-field class="title-form" appearance="fill">
      <mat-label>タイトル</mat-label>
      <input matInput id="title" formControlName="title">
      <mat-error *ngIf="titleForm?.invalid">
        {{titleErrorMessage}}
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="body-form" appearance="fill">
      <mat-label>本文</mat-label>
      <textarea matInput id="body" rows="4" formControlName="body"></textarea>
      <mat-error *ngIf="bodyForm?.invalid">
        {{bodyErrorMessage}}
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>カテゴリ</mat-label>
      <mat-select formControlName="categoryId" id="category-id">
        <mat-option *ngFor="let category of categoryList" [value]="category.id">
          {{ category.name }}
        </mat-option>
        <mat-option value=undefined>なし</mat-option>
      </mat-select>
      <mat-error *ngIf="categoryIdForm?.invalid">
        {{categoryIdErrorMessage}}
      </mat-error>
    </mat-form-field>
  </p>

  <button mat-raised-button type="button" (click)="goBack()">戻る</button>
  <button mat-raised-button color="accent" type="submit" [disabled]="!todoForm.valid">作成</button>
</form>
