<form [formGroup]="todoForm" (ngSubmit)="save()">

  <label for="title">タイトル: </label>
  <input id="title" type="text" formControlName="title"><br>

  <label for="body">本文: </label>
  <textarea id="body" formControlName="body"></textarea><br>

  <label for="category-id">カテゴリ: </label>
  <select formControlName="categoryId" id="category-id">
    <option *ngFor="let category of categoryList" [value]="category.id">
      {{ category.name }}
    </option>
    <option value=undefined>なし</option>
  </select><br>

  <button (click)="goBack()">戻る</button>
  <button type="submit">作成</button>
</form>
